In [2]:
# install.packages(c("ggplot2", "dplyr","car"))

In [3]:
library(ggplot2)
library(dplyr)
library(car)
library(reshape2)

Warning message:
"le package 'ggplot2' a été compilé avec la version R 4.3.3"
Warning message:
"le package 'dplyr' a été compilé avec la version R 4.3.3"

Attachement du package : 'dplyr'


Les objets suivants sont masqués depuis 'package:stats':

    filter, lag


Les objets suivants sont masqués depuis 'package:base':

    intersect, setdiff, setequal, union


Warning message:
"le package 'car' a été compilé avec la version R 4.3.3"
Le chargement a nécessité le package : carData

Warning message:
"le package 'carData' a été compilé avec la version R 4.3.3"

Attachement du package : 'car'


L'objet suivant est masqué depuis 'package:dplyr':

    recode


Warning message:
"le package 'reshape2' a été compilé avec la version R 4.3.3"

# Part 1 - Data analysis

## 1. Load data

In [4]:
data <- read.csv("housing_data.csv")
head(data, 5)

  Crime.Rate Average.Rooms Public.Transport.Access Number.of.Schools
1       NA   5.585324      10                      3
2 2.654339   5.395206       3                      6
3 4.619221   6.033965       9                      4
4 6.807575   5.418335      10                      5
5 2.414617   6.189320       2                      4
  Median.Home.Value
1 47.90077
2 41.53910
3 48.51757
4 42.50757
5 51.39125

## 2. Summary statistics

In [5]:
# cat("Structur of data:\n\n")
# str(data)
# cat("\n-------------------------------------------------\n")
cat("Summary: ")
summary(data)

Summary:

   Crime.Rate        Average.Rooms   Public.Transport.Access Number.of.Schools
 Min.   : 0.005305   Min.   :4.112   Min.   : 1.000          Min.   : 0.000
 1st Qu.: 1.299938   1st Qu.:5.598   1st Qu.: 3.000          1st Qu.: 4.000
 Median : 3.031481   Median :6.033   Median : 5.000          Median : 5.000
 Mean   : 3.137415   Mean   :6.026   Mean   : 5.421          Mean   : 4.992
 3rd Qu.: 4.584798   3rd Qu.:6.460   3rd Qu.: 8.000          3rd Qu.: 6.000
 Max.   :12.631829   Max.   :7.801   Max.   :10.000          Max.   :10.000
 NA's   :25          NA's   :15
 Median.Home.Value
 Min.   :31.55
 1st Qu.:43.23
 Median :46.91
 Mean   :47.10
 3rd Qu.:50.85
 Max.   :62.56

In [6]:
tail(data)

    Crime.Rate Average.Rooms Public.Transport.Access Number.of.Schools
501 5.315444   6.626635      9                       4
502       NA   6.444620      4                       6
503 0.100000   6.734687      4                       3
504 4.407423   5.625335      2                       1
505 1.373394   6.922176      6                       3
506 1.782187   6.138320      2                       4
    Median.Home.Value
501 51.99554
502 53.57924
503 49.65183
504 43.67766
505 50.66238
506 45.43800

## 3. Get mean, mode and median, as well as the standard deviation for each variable

**Mean**

In [7]:
means <- function(df, column) {
    mean_value <- mean(df[[column]], na.rm = TRUE)
    return(mean_value)
}

for (col in colnames(data)) {
    cat(paste("Mean of", col, ":", means(data, col), "\n"))
}

Mean of Crime.Rate : 3.13741457390437
Mean of Average.Rooms : 6.02573705745418
Mean of Public.Transport.Access : 5.42094861660079
Mean of Number.of.Schools : 4.99209486166008
Mean of Median.Home.Value : 47.1035584244862

**Mode**

In [8]:
mode <- function(df, column) {
    unique <- unique(df[[column]])
    mode_value <- unique[which.max(tabulate(match(df[[column]], unique)))]
    return(mode_value)
}

for (col in colnames(data)) {
    cat(paste("Mode of", col, ":", mode(data, col), "\n"))
}

Mode of Crime.Rate : 0.1
Mode of Average.Rooms : NA
Mode of Public.Transport.Access : 2
Mode of Number.of.Schools : 5
Mode of Median.Home.Value : 47.90076602

**Median**

In [ ]:
median_value <- function(df, column) {
  med <- median(df[[column]], na.rm = TRUE)
  return(med)
}

for (col in colnames(data)) {
  cat(paste("Median of", col, ":", median_value(data, col), "\n"))
}

### 4. Compute the correlation between each pair of variables

In [ ]:
corr_matrix <- cor(data, use = "pairwise.complete.obs")
corr_matrix

In [ ]:
high_corr <- which(corr_matrix == max(corr_matrix[corr_matrix < 1]), arr.ind=TRUE)
print(high_corr)
cat(paste("The highest correlation is between columns: ",colnames(corr_matrix)[high_corr][1]," and ",colnames(corr_matrix)[high_corr][2]))

In [ ]:
cat("Na values: \n")
cat(paste("\nCrime.Rate:", colSums(is.na(data["Crime.Rate"]))))
cat(paste("\nAverage.Rooms:", colSums(is.na(data["Average.Rooms"]))))
cat(paste("\nPublic.Transport.Access:", colSums(is.na(data["Public.Transport.Access"]))))
cat(paste("\nNumber.of.Schools:", colSums(is.na(data["Number.of.Schools"]))))
cat(paste("\nMedian.Home.Value:", colSums(is.na(data["Median.Home.Value"]))))

# colSums(is.na(data))

In [ ]:
data_cleaned <- data %>% mutate_all(~ifelse(is.na(.), median(., na.rm = TRUE), .))
data_cleaned

In [ ]:
cat("Na values after filling missing values: \n")
cat(paste("\nCrime.Rate:", colSums(is.na(data_cleaned["Crime.Rate"]))))
cat(paste("\nAverage.Rooms:", colSums(is.na(data_cleaned["Average.Rooms"]))))
cat(paste("\nPublic.Transport.Access:", colSums(is.na(data_cleaned["Public.Transport.Access"]))))
cat(paste("\nNumber.of.Schools:", colSums(is.na(data_cleaned["Number.of.Schools"]))))
cat(paste("\nMedian.Home.Value:", colSums(is.na(data_cleaned["Median.Home.Value"]))))

# Part 2 - Data visualization
## Create a histogram of house prices with styling and 8 bins

In [ ]:
ggplot(data_cleaned, aes(x = Median.Home.Value)) +
    geom_histogram(bins= 9, Fill = "darkcyan",Color = "white",Alpha = 0.7  ) +
    labs(title = "Distribution of Median Home Values", x= "Median home values", y= "Frequency") +
    theme_minimal()

# Part 3 - Hypothesis testing
## 1. Define "high" and "low" crime rates based on the median of the Crime.Rate variable

In [ ]:
high_low_crimerate <- function(x){
    median_crimerate <- median(data_cleaned$Crime.Rate)
    if (x > median_crimerate){
        return("High")
    }
    else {
       return("Low")
    }
}

In [ ]:
data_cleaned$Crime.category <- sapply(data_cleaned$Crime.Rate, high_low_crimerate)
data_cleaned

## 2. Additional: Check for assumptions
### For a t-test, it's essential to check for normality & homogeneity of variance.

In [ ]:
# t_test_result <- t.test(variable ~ group, data = data_cleaned, var.equal = TRUE)
# t_test_result
# # levene_test <- leveneTest(Median.Home.Value ~ Crime.Category, data = data_cleaned)
# # print(levene_test)

levene_test <- leveneTest(Median.Home.Value ~ Crime.Category, data = data_cleaned)
print(levene_test)

t_test_result <- t.test(Median.Home.Value ~ Crime.Category, data = data_cleaned, var.equal = TRUE)
print(t_test_result)