In [2]:
install.packages(c("ggplot2", "dplyr","car"))

Warning message:
"les packages 'ggplot2', 'dplyr' sont en cours d'utilisation et ne seront pas installés"
Installation du package dans 'C:/Users/dell/AppData/Local/R/win-library/4.3'
(car 'lib' n'est pas spécifié)

installation de la dépendance 'carData'

le package 'carData' a été décompressé et les sommes MD5 ont été vérifiées avec succés
le package 'car' a été décompressé et les sommes MD5 ont été vérifiées avec succés

Les packages binaires téléchargés sont dans
	C:\Users\dell\AppData\Local\Temp\RtmpEP7u0h\downloaded_packages

In [3]:
library(ggplot2)
library(dplyr)
library(car)

Warning message:
"le package 'car' a été compilé avec la version R 4.3.3"
Le chargement a nécessité le package : carData

Warning message:
"le package 'carData' a été compilé avec la version R 4.3.3"

Attachement du package : 'car'


L'objet suivant est masqué depuis 'package:dplyr':

    recode

# Load data

In [9]:
data <- read.csv("housing_data.csv")
head(data, 5)

  Crime.Rate Average.Rooms Public.Transport.Access Number.of.Schools
1       NA   5.585324      10                      3
2 2.654339   5.395206       3                      6
3 4.619221   6.033965       9                      4
4 6.807575   5.418335      10                      5
5 2.414617   6.189320       2                      4
  Median.Home.Value
1 47.90077
2 41.53910
3 48.51757
4 42.50757
5 51.39125

In [10]:
get_mode <- function(v) {
  uniq_v <- unique(v)
  uniq_v[which.max(tabulate(match(v, uniq_v)))]
}

descriptive_stats <- data %>%
  summarise(across(everything(), list(
    mean = ~mean(.x, na.rm = TRUE),
    median = ~median(.x, na.rm = TRUE),
    mode = ~get_mode(.x)
  )))

print(descriptive_stats)

  Crime.Rate_mean Crime.Rate_median Crime.Rate_mode Average.Rooms_mean
1        3.137415          3.031481             0.1           6.025737
  Average.Rooms_median Average.Rooms_mode Public.Transport.Access_mean
1             6.033179                 NA                     5.420949
  Public.Transport.Access_median Public.Transport.Access_mode
1                              5                            2
  Number.of.Schools_mean Number.of.Schools_median Number.of.Schools_mode
1               4.992095                        5                      5
  Median.Home.Value_mean Median.Home.Value_median Median.Home.Value_mode
1               47.10356                 46.91257               47.90077

# Explore data

### 1- description of dataset

In [29]:
cat("Structur of data:\n\n")
str(data)
cat("\n-------------------------------------------------\n")
cat("Summary: ")
summary(data)

Structur of data:

'data.frame':	506 obs. of  5 variables:
 $ Crime.Rate             : num  NA 2.65 4.62 6.81 2.41 ...
 $ Average.Rooms          : num  5.59 5.4 6.03 5.42 6.19 ...
 $ Public.Transport.Access: int  10 3 9 10 2 6 7 9 3 10 ...
 $ Number.of.Schools      : int  3 6 4 5 4 4 4 4 6 4 ...
 $ Median.Home.Value      : num  47.9 41.5 48.5 42.5 51.4 ...

-------------------------------------------------
Summary:

   Crime.Rate        Average.Rooms   Public.Transport.Access Number.of.Schools
 Min.   : 0.005305   Min.   :4.112   Min.   : 1.000          Min.   : 0.000
 1st Qu.: 1.299938   1st Qu.:5.598   1st Qu.: 3.000          1st Qu.: 4.000
 Median : 3.031481   Median :6.033   Median : 5.000          Median : 5.000
 Mean   : 3.137415   Mean   :6.026   Mean   : 5.421          Mean   : 4.992
 3rd Qu.: 4.584798   3rd Qu.:6.460   3rd Qu.: 8.000          3rd Qu.: 6.000
 Max.   :12.631829   Max.   :7.801   Max.   :10.000          Max.   :10.000
 NA's   :25          NA's   :15
 Median.Home.Value
 Min.   :31.55
 1st Qu.:43.23
 Median :46.91
 Mean   :47.10
 3rd Qu.:50.85
 Max.   :62.56

In [46]:
cat("Na values: \n")
cat(paste("\nCrime.Rate:", colSums(is.na(data["Crime.Rate"]))))
cat(paste("\nAverage.Rooms:", colSums(is.na(data["Average.Rooms"]))))
cat(paste("\nPublic.Transport.Access:", colSums(is.na(data["Public.Transport.Access"]))))
cat(paste("\nNumber.of.Schools:", colSums(is.na(data["Number.of.Schools"]))))
cat(paste("\nMedian.Home.Value:", colSums(is.na(data["Median.Home.Value"]))))

# colSums(is.na(data))

Na values:

Crime.Rate: 25
Average.Rooms: 15
Public.Transport.Access: 0
Number.of.Schools: 0
Median.Home.Value: 0

In [48]:
descriptive_stats <- data %>%
  summarise(across(everything(), list(
    mean = ~mean(., na.rm = TRUE),
    median = ~median(., na.rm = TRUE)
  )))

get_mode <- function(v) {
  unique_v <- unique(v)
  unique_v[which.max(tabulate(match(v, unique_v)))]
}

modes <- sapply(data, get_mode)

descriptive_stats <- cbind(descriptive_stats, mode = modes)

descriptive_stats

                        Crime.Rate_mean Crime.Rate_median Average.Rooms_mean
Crime.Rate              3.137415        3.031481          6.025737
Average.Rooms           3.137415        3.031481          6.025737
Public.Transport.Access 3.137415        3.031481          6.025737
Number.of.Schools       3.137415        3.031481          6.025737
Median.Home.Value       3.137415        3.031481          6.025737
                        Average.Rooms_median Public.Transport.Access_mean
Crime.Rate              6.033179             5.420949
Average.Rooms           6.033179             5.420949
Public.Transport.Access 6.033179             5.420949
Number.of.Schools       6.033179             5.420949
Median.Home.Value       6.033179             5.420949
                        Public.Transport.Access_median Number.of.Schools_mean
Crime.Rate              5                              4.992095
Average.Rooms           5                              4.992095
Public.Transport.Access 5                              4.992095
Number.of.Schools       5                              4.992095
Median.Home.Value       5                              4.992095
                        Number.of.Schools_median Median.Home.Value_mean
Crime.Rate              5                        47.10356
Average.Rooms           5                        47.10356
Public.Transport.Access 5                        47.10356
Number.of.Schools       5                        47.10356
Median.Home.Value       5                        47.10356
                        Median.Home.Value_median mode
Crime.Rate              46.91257                  0.10000
Average.Rooms           46.91257                       NA
Public.Transport.Access 46.91257                  2.00000
Number.of.Schools       46.91257                  5.00000
Median.Home.Value       46.91257                 47.90077

In [49]:
# Compute correlations (ignoring NA values)
cor_matrix <- cor(data, use = "pairwise.complete.obs")

# Print correlation matrix
print(cor_matrix)

                        Crime.Rate Average.Rooms Public.Transport.Access
Crime.Rate              1.00000000   0.109411375            0.0115047832
Average.Rooms           0.10941138   1.000000000           -0.0074220520
Public.Transport.Access 0.01150478  -0.007422052            1.0000000000
Number.of.Schools       0.02507977  -0.008113311            0.0145962817
Median.Home.Value       0.08793696   0.889669524            0.0009097478
                        Number.of.Schools Median.Home.Value
Crime.Rate                    0.025079768      0.0879369585
Average.Rooms                -0.008113311      0.8896695239
Public.Transport.Access       0.014596282      0.0009097478
Number.of.Schools             1.000000000     -0.0072444918
Median.Home.Value            -0.007244492      1.0000000000